.bg-black {
  background-color: var(--black-main) !important;
}

.titulo {
  color: var(--white-main);
}

.menu .nav-link {
  position: relative;
  color: rgba(255, 255, 255, 0.85);
  padding: 0.3rem 0;
  transition: color 0.3s ease;
}

.menu .nav-link:hover {
  color: var(--white-main);
}

.menu .nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 1px;
  background-color: var(--white-main);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.menu .nav-link:hover::after {
  width: 100%;
}
